 
/* start css.sty */
.ec-lmr-17{font-size:170%;}
.ec-lmr-12{font-size:120%;}
.ec-lmtt-10{ font-family: monospace,monospace;}
.ec-lmtt-10{ font-family: monospace,monospace;}
.ec-lmtt-10{ font-family: monospace,monospace;}
.ec-lmtt-10{ font-family: monospace,monospace;}
.ec-lmtt-10{ font-family: monospace,monospace;}
.ec-lmtt-10{ font-family: monospace,monospace;}
.ec-lmbx-10{ font-weight: bold;}
.ec-lmbx-10{ font-weight: bold;}
.ec-lmbx-10{ font-weight: bold;}
.ec-lmbx-10{ font-weight: bold;}
.ec-lmbx-10{ font-weight: bold;}
.ec-lmbx-10{ font-weight: bold;}
.ec-lmtk-10{ font-family: monospace,monospace;}
.ec-lmtk-10{ font-family: monospace,monospace;}
.ec-lmtk-10{ font-family: monospace,monospace;}
.ec-lmtk-10{ font-family: monospace,monospace;}
.ec-lmtk-10{ font-family: monospace,monospace;}
.ec-lmtk-10{ font-family: monospace,monospace;}
p{margin-top:0;margin-bottom:0}
p.indent{text-indent:0;}
p + p{margin-top:1em;}
p + div, p + pre {margin-top:1em;}
div + p, pre + p {margin-top:1em;}
a { overflow-wrap: break-word; word-wrap: break-word; word-break: break-word; hyphens: auto; }
@media print {div.crosslinks {visibility:hidden;}}
table.tabular{border-collapse: collapse; border-spacing: 0;}
a img { border-top: 0; border-left: 0; border-right: 0; }
center { margin-top:1em; margin-bottom:1em; }
td center { margin-top:0em; margin-bottom:0em; }
.Canvas { position:relative; }
img.math{vertical-align:middle;}
div.par-math-display, div.math-display{text-align:center;}
body{ margin:1em auto; max-width:80ch; padding:0 .62em; }
h1,h2,h3,h4,h5 { line-height:1.2; }
@media print{ body{ max-width:none } }
.partHead, .likepartHead { font-size: 2em; }
.chapterHead, .likechapterHead { font-size: 1.7411em; }
.sectionHead, .likesectionHead { font-size: 1.5157em; }
.subsectionHead, .likesubsectionHead { font-size: 1.3195em; }
.subsubsectionHead, .likesubsubsectionHead { font-size: 1.1487em; }
 @media (prefers-color-scheme: dark) { img[src^="index"]{filter: invert(1); } } 
 body { background-color: Canvas; color: CanvasText; color-scheme: light dark; } 
nav.TOC > span{display:block;}
*, *::before, *::after { box-sizing: border-box; }
* { margin: 0; }
nav.TOC,main.main-content,header.header-bar, .maketitle { box-sizing: border-box; }
nav.TOC { position: fixed; top: var(--header-height); left: 0; width: var(--maintoc-width); height: 100vh; overflow-y: auto; background-color: var(--maintoc-background); color: var(--maintoc-color); overflow-y: scroll; scrollbar-color: #888 var(--maintoc-background); scrollbar-width: thin; padding: var(--maintoc-padding); }
nav.TOC a { color: var(--maintoc-color); text-decoration: none; }
nav.TOC a:hover, nav.TOC a:focus { color: var(--maintoc-hover); text-decoration: underline; }
body{margin:0;width: auto; max-width: 100%;}
main.main-content, .maketitle { margin: 1ch; margin-top: var(--header-height); padding: var(--body-padding); margin-left: var(--maintoc-width); max-width: var(--body-width); }
[id]{ scroll-margin-top: var(--header-height); }
.hamburger { display: none; margin-left: auto; background-color: var(--maintoc-background); }
header.header-bar { position: fixed; width: 100vw; top: 0; left: 0; align-items: center; justify-content: space-between; background-color: var(--header-background); color: var(--header-color); height: var(--header-height); padding: var(--header-padding) ; margin: 0; }
header.header-bar h1 { font-size: 1rem; }
footer.footer-bar { display: none; position: fixed; bottom: 0; left: 0; right: 0; height: var(--footer-height); background-color: var(--footer-background); z-index: 1000; display: flex; align-items: center; justify-content: center; }
.sectionTOCS{ padding: var(--content-padding); position: fixed; top: var(--header-height); left: var(--sectiontoc-padding); max-width: var(--sectiontoc-width); }
nav.TOC, .sectionTOCS{ transition: transform 0.3s ease; transform: translateY(0); /* default state */ }
.sectionTOCS .likesectionToc, .sectionTOCS .sectionToc, .sectionTOCS .likesubsectionToc, .sectionTOCS .subsectionToc, .sectionTOCS .likesubsectionToc, .sectionTOCS .subsectionToc, .sectionTOCS .likesubsubsectionToc, .sectionTOCS .subsubsectionToc {margin-left:0em;}
.hamburger { display: none; flex-direction: column; justify-content: center; align-items: center; width: 40px; height: 40px; cursor: pointer; gap: 6px; }
.hamburger span { display: inline-flex; width: 24px; height: 3px; background-color: black; border-radius: 2px; }
body.no-scroll { overflow: hidden; }
@media(max-width: 768px){
 nav.TOC { width: 100vw; height: auto; position: relative; top: auto; left: 0; } 
 main.main-content, .maketitle { margin-left: 0; padding-top: var(--header-height); } 
 .hamburger { display: block; cursor: pointer; } 
}
li p.indent { text-indent: 0em }
li p:first-child{ margin-top:0em; }
li p:last-child, li div:last-child { margin-bottom:0.5em; }
li p:first-child{ margin-bottom:0; }
li p~ul:last-child, li p~ol:last-child{ margin-bottom:0.5em; }
ul.itemize1,ol.enumerate1{padding-left: 0;}
ul li.itemize,ol li.enumerate{margin-left: 1rem;}
.enumerate1 {list-style-type:decimal;}
.enumerate2 {list-style-type:lower-alpha;}
.enumerate3 {list-style-type:lower-roman;}
.enumerate4 {list-style-type:upper-alpha;}
div.newtheorem { margin-bottom: 2em; margin-top: 2em;}
div.newtheorem .head{font-weight: bold;}
.obeylines-h,.obeylines-v {white-space: nowrap; }
div.obeylines-v p { margin-top:0; margin-bottom:0; }
.overline{ text-decoration:overline; }
.overline img{ border-top: 1px solid black; }
td.displaylines {text-align:center; white-space:nowrap;}
.centerline {text-align:center;}
.rightline {text-align:right;}
pre.verbatim {font-family: monospace,monospace; text-align:left; clear:both; }
.fbox {padding-left:3.0pt; padding-right:3.0pt; text-indent:0pt; border:solid black 0.4pt; }
div.fbox {display:table}
div.center div.fbox {text-align:center; clear:both; padding-left:3.0pt; padding-right:3.0pt; text-indent:0pt; border:solid black 0.4pt; }
div.minipage{width:100%;}
div.center, div.center div.center {text-align: center; margin-left:1em; margin-right:1em;}
div.center div {text-align: left;}
div.flushright, div.flushright div.flushright {text-align: right;}
div.flushright div {text-align: left;}
div.flushleft {text-align: left;}
.underline{ text-decoration:underline; }
.underline img{ border-bottom: 1px solid black; margin-bottom:1pt; }
.framebox-c, .framebox-l, .framebox-r { padding-left:3.0pt; padding-right:3.0pt; text-indent:0pt; border:solid black 0.4pt; }
.framebox-c {text-align:center;}
.framebox-l {text-align:left;}
.framebox-r {text-align:right;}
span.thank-mark{ vertical-align: super }
span.footnote-mark sup.textsuperscript, span.footnote-mark a sup.textsuperscript{ font-size:80%; }
aside.footnote-text p{margin-top:0; margin-bottom:0;text-indent: 0;}
code.verb{font-family:monospace,monospace;}
div.tabular, div.center div.tabular {text-align: center; margin-top:0.5em; margin-bottom:0.5em; }
table.tabular td p{margin-top:0em;}
table.tabular {margin-left: auto; margin-right: auto;}
td p:first-child{ margin-top:0em; }
td p:last-child{ margin-bottom:0em; }
div.td00{ margin-left:0pt; margin-right:0pt; }
div.td01{ margin-left:0pt; margin-right:5pt; }
div.td10{ margin-left:5pt; margin-right:0pt; }
div.td11{ margin-left:5pt; margin-right:5pt; }
table[rules] {border-left:solid black 0.4pt; border-right:solid black 0.4pt; }
td.td00{ padding-left:0pt; padding-right:0pt; }
td.td01{ padding-left:0pt; padding-right:5pt; }
td.td10{ padding-left:5pt; padding-right:0pt; }
td.td11{ padding-left:5pt; padding-right:5pt; }
table[rules] {border-left:solid black 0.4pt; border-right:solid black 0.4pt; }
.hline hr, .cline hr{ height : 0px; margin:0px; }
.hline td, .cline td{ padding: 0; }
.hline hr, .cline hr{border:none;border-top:1px solid black;}
.hline {border-top: 1px solid black;}
.hline + .vspace:last-child{display:none;}
.tabbing-right {text-align:right;}
div.float, div.figure {margin-left: auto; margin-right: auto;}
div.float img {text-align:center;}
div.figure img {text-align:center;}
.marginpar,.reversemarginpar {width:20%; float:right; text-align:left; margin-left:auto; margin-top:0.5em; font-size:85%; text-decoration:underline;}
.marginpar p,.reversemarginpar p{margin-top:0.4em; margin-bottom:0.4em;}
.reversemarginpar{float:left;}
table.equation {width:100%;}
.equation td{text-align:center; }
td.equation { margin-top:1em; margin-bottom:1em; } 
td.equation-label { width:5%; text-align:center; }
td.eqnarray4 { width:5%; white-space: normal; }
td.eqnarray2 { width:5%; }
table.eqnarray-star, table.eqnarray {width:100%;}
div.eqnarray{text-align:center;}
div.array {text-align:center;}
div.pmatrix {text-align:center;}
table.pmatrix {width:100%;}
span.pmatrix img{vertical-align:middle;}
div.pmatrix {text-align:center;}
table.pmatrix {width:100%;}
span.bar-css {text-decoration:overline;}
img.cdots{vertical-align:middle;}
.partToc a, .partToc, .likepartToc a, .likepartToc {line-height: 200%; font-weight:bold; font-size:110%;}
.chapterToc a, .chapterToc, .likechapterToc a, .likechapterToc, .appendixToc a, .appendixToc {line-height: 200%; font-weight:bold;}
.theindex-letter{ margin-top: 1em;}
.index-subitem{ margin-left: 2ch;}
.index-subsubitem{ margin-left: 4ch;}
div.caption {text-indent:-2em; margin-left:3em; margin-right:1em; text-align:center; margin-top: 0.5rem;}
div.caption span.id{font-weight: bold; white-space: nowrap; }
h1.partHead{text-align: center}
p.bibitem { text-indent: -2em; margin-left: 2em; margin-top:0.6em; margin-bottom:0.6em; }
p.bibitem-p { text-indent: 0em; margin-left: 2em; margin-top:0.6em; margin-bottom:0.6em; }
.subsubsectionHead, .likesubsubsectionHead { font-size: 1em; }
.paragraphHead, .likeparagraphHead { margin-top:2em; font-weight: bold;}
.subparagraphHead, .likesubparagraphHead { font-weight: bold;}
.verse{white-space:nowrap; margin-left:2em}
div.maketitle {text-align:center;}
h1.titleHead{text-align:center;}
div.maketitle{ margin-bottom: 2em; }
div.author, div.date {text-align:center;}
div.thanks{text-align:left; margin-left:10%; font-size:85%; font-style:italic; }
div.author{white-space: nowrap;}
h1.partHead{text-align: center}
 .chapterToc, .likechapterToc {margin-left:0em;}
 .likesectionToc, .sectionToc {margin-left:1em;}
 .likesubsectionToc, .subsectionToc {margin-left:2em;}
 .likesubsectionToc, .subsectionToc {margin-left:2em;}
 .likesubsubsectionToc, .subsubsectionToc {margin-left:3em;}
.paragraphToc, .likeparagraphToc {margin-left:4em;}
.subparagraphToc, .likesubparagraphToc {margin-left:5em;}
figure.float, div.figure {margin-left: auto; margin-right: auto;}
figure.figure {text-align:center;}
figcaption.caption {text-indent:-2em; margin-left:3em; margin-right:1em; text-align:center;}
figcaption.caption span.id{font-weight: bold; white-space: nowrap; }
p + figcaption, img + figcaption{margin-top: 1em;}
.thebibliography dl { display: grid; grid-auto-columns: min-content 1fr; grid-auto-flow: column; }
.thebibliography dt { grid-column: 1; margin-bottom: 0.5em; }
.rotatebox{display: inline-block;}
img{border: 1px solid #000; padding: 0.5em; margin: 0.5em; max-width: 100%}
:root{ --maintoc-width: 30ch; --maintoc-background: #2E3A3F; --maintoc-padding: 2ch; --maintoc-color: #E6F0EF; --maintoc-hover: #00AFA0; --body-width: 80ch; --body-padding: 2ch; --header-background: #B8D8D5; --header-color: #2C3E50; --header-height: 3rem; --header-padding: 1ch; --footer-height: 2ch; --footer-background: #DDD; }
/* end css.sty */

